<div class="row">
    <div class="col-md-12 text-center">
        <h1>Détails</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="color-white text-center no-margin"><span class="fa fa-pie-chart"></span></h2>
            </div>
            <div class="panel-body scrollable">
                <div ng-repeat="challenge in challenges">
                    <div ng-include="'views/partials/challenge.details.stats'"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="color-white text-center no-margin"><span class="fa fa-gamepad"></span></h2>
            </div>
            <div class="panel-body scrollable">
                <div ng-repeat="challenge in challenges">
                    <div ng-include="'views/partials/challenge.details.content'"></div>
                </div>
            </div>
        </div>
    </div>
</div>