<div class="centered panel panel-default without-margin">
    <div class="panel-heading text-center">
        <h1 class="color-white">
            <span class="fa fa-gamepad"></span>
        </h1>
    </div>
    <div class="panel-body scrollable" ng-style="$root.style.maxHeightModal">
        <form role="form" name="challengeForm" ng-submit="ok(challengeForm.$valid)"novalidate>
            <div class="form-group" ng-class="{ 'has-error' : challengeForm.text.$invalid && !challengeForm.text.$pristine }">
                <label for="text">Contenu du défis</label>
                <input id="text" type="text" class="form-control" name="text" ng-model="challenge.text" ng-maxlength="140" required>
                <p ng-show="challengeForm.text.$error.maxlength" class="help-block">Contenu de maximum 140 caractères.</p>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary" ng-disabled="challengeForm.$invalid">Enregistrer</button>
                <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
            </div>
        </form>
    </div>
</div>