<div class="centered panel panel-default without-margin">
    <div class="panel-heading">
        <h4 class="color-white text-center">Edition du mot de passe</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <form role="form" ng-submit="save(passwordForm.$valid)" name="passwordForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : passwordForm.holdPassword.$invalid && !passwordForm.holdPassword.$pristine }">
                        <label for="holdPassword">Ancien mot de passe</label>
                        <input id="holdPassword" type="password" class="form-control" name="holdPassword" ng-model="holdPassword" required>
                        <p ng-show="passwordForm.holdPassword.$invalid && !passwordForm.holdPassword.$pristine" class="help-block">Veuillez vérifier votre mot de passe.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : passwordForm.newPassword.$invalid && !passwordForm.newPassword.$pristine }">
                        <label for="newPassword">Mot de passe</label>
                        <input id="newPassword" type="password" class="form-control" name="newPassword" ng-model="newPassword" ng-minlength="6" required>
                        <p ng-show="passwordForm.newPassword.$error.minlength" class="help-block">Mot de passe trop court. Minimum 6 caractères.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : passwordForm.passwordConfirm.$invalid && !passwordForm.passwordConfirm.$pristine }">
                        <label for="passwordConfirm">Veuillez retaper votre mot de passe</label>
                        <input id="passwordConfirm" type="password" class="form-control" name="passwordConfirm" ng-model="passwordConfirm" required>
                        <p ng-show="passwordForm.passwordConfirm.$invalid && !passwordForm.passwordConfirm.$pristine" class="help-block">Le mot de passe ne correspond pas.</p>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary" ng-disabled="passwordForm.$invalid">Enregistrer</button>
                        <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>