<div class="centered panel panel-default without-margin">
    <div class="panel-heading">
        <h4 class="color-white text-center">Edition du profil</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <form role="form" ng-submit="save(userForm.$valid)" name="userForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control" name="email" ng-model="$root.user.email" required>
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Veuillez entrer une adresse email valide.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }">
                        <label for="lastName">Nom</label>
                        <input id="lastName" type="text" class="form-control" name="lastName" ng-model="$root.user.lastName" ng-maxlength="35" required>
                        <p ng-show="userForm.lastName.$error.maxlength" class="help-block">Veuillez saisir un nom plus court.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
                        <label for="firstName">Prénom</label>
                        <input id="firstName" type="text" class="form-control" name="firstName" ng-model="$root.user.firstName" ng-maxlength="35" required>
                        <p ng-show="userForm.firstName.$error.maxlength" class="help-block">Veuillez saisir un prénom plus court.</p>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Enregistrer</button>
                        <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>