<div class="row">
    <div class="col-md-12 col-xs-12">
        <table class="table no-margin-bottom">
            <tbody>
            <tr>
                <td class="col-md-6 col-xs-5 text-center">
                    <h5><i class="fa fa-thumbs-up"></i></h5>
                </td>
                <td class="text-center"><h5>{{challenge.likes.length}}</h5></td>
            </tr>
            <tr>
                <td class="col-md-1 col-xs-2 text-center">
                    <h5><i class="fa fa-star"></i></h5>
                </td>
                <td class="text-center"><h5>{{challenge.bookmarks.length}}</h5></td>
            </tr>
            <tr>
                <td class="col-md-1 col-xs-2 text-center">
                    <h5><i class="fa fa-check-square-o"></i></h5>
                </td>
                <td class="text-center"><h5>{{challenge.states.length}}</h5></td>
            </tr>
            <tr>
                <td class="col-md-1 col-xs-2 text-center">
                    <h5><i class="fa fa-comment"></i></h5>
                </td>
                <td class="text-center"><h5>{{challenge.comments.length}}</h5></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>