<div class="panel panel-default cursor" ng-click="seeDetailsListener(user)">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <strong>Email</strong>
            </div>
            <div class="col-md-12 col-xs-12 text-center">
                <p class="no-margin-bottom text-info">{{user.email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <strong>Nom</strong>
            </div>
            <div class="col-md-12 col-xs-12 text-center">
                <p class="no-margin-bottom text-info">{{user.lastName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <strong>Prénom</strong>
            </div>
            <div class="col-md-12 col-xs-12 text-center">
                <p class="no-margin-bottom text-info">{{user.firstName}}</p>
            </div>
        </div>
    </div>
</div>